body {  
    margin: 0;  
    
}  
  
a {  
    text-decoration: none;  
}  

.header {
    background-color: rgb(122, 138, 255);
    height: 90px;
}

.logosaya{
    width: 60px;
    float: left;
    margin-top: 10px;
}

.header-list 
{ 
    display: flex; 
    align-items: center; 
    padding: 10px 20px; 
} 
 
nav { 
    flex: 1; 
    text-align: right; 
}   
 
nav ul { 
    display: inline-block; 
    list-style: none; 
} 
 
nav ul li { 
    display: inline-block; 
    margin-right: 70px; 
} 
 
nav ul li a { 
    text-decoration: none; 
    font-size: 15px; 
    color: rgb(17, 17, 17); 
    font-family: sans-serif; 
} 
 
nav ul li button { 
    font-size: 20px; 
    color: bisque; 
    outline: none; 
    border: none; 
    background: transparent; 
    cursor: pointer; 
    font-family: sans-serif; 
} 
 
nav ul li button:hover { 
    color: #83BD75; 
} 
 
nav uli a:hover { 
    color: #83BD75; 
} 
 
a { 
    text-decoration: none; 
    color: #F5F0BB; 
    font-size: 28px; 
}



.container {  
    width: 1170px;  
    padding: 0 15px;  
    margin: 0 auto;  
}  
 
 .top-wrapper {
     padding: 180px 0 200px 0;
     background-image: url(smkn\ 19.jpeg);
     background-size: cover;
     color: white;
     text-align: center;  
    }
 
 .top-wrapper h1 {
     opacity: 0.7px;
     font-size: 50px;
     letter-spacing: 5px;
     margin-bottom: 10px;
 }
 
 .top-wrapper pc {
     opacity: 0.7px;
     margin-bottom: 10px;
     
 }
 
 .btn {
     padding: 12px 24px;
     color: white;
     display: inline-block;
     opacity: 0.7;
     border-radius: 4px;
 }
 
 .btn:hover {
     opacity: 1;
 }
 
 .signup {
     background-color: crimson;
 }
 
 .facebook {
     background-color: blue;
     margin-right: 10px;
 }
 
 .twitter {
     background-color: aqua;
 }

 .section-border{
    border-bottom: 2px solid #0a0a0a; /*batas*/;
 }

 .content { /*konten*/
    width: 1200px; 
    height: 5px; 
    margin: 50px; 
    text-align: justify; 
    background-color: rgb(10, 10, 10); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
 
.greeting {
    font-size: 36px;
    font-weight: bold;
}

.kolom-koran span {
    font-size: 36px;
    font-weight: bold;
}
 
.kolom-koran{
    -webkit-column-count: 3;
    -webkit-column-width: 10;
}

.contact-form{
    padding-top: 300px;
    margin: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
}

input,textarea{
    border: 1px  solid #192125; 
}

.submit-contact{
    background-color: #f8fafc; 
}

.footer {  
    background-color: rgb(122, 138, 206);  
    height: 90px;  
    padding: 20px 40px;  
}

